*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root{
  --p:rgb(13, 19, 33);
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}
nav h1{
  font-size: 3rem;
}
.btn-1{
  padding: 15px 20px;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  background: none;
  font-size: 1rem;
  cursor: pointer;
}
.hero{
  width: 1900px;
  height: 800px;
  background-image: url(./assets/Hero-bg.png);
  margin: 0 auto;
  margin-bottom: 200px;
}
.hero img{
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat; 
}
.hero-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
  text-align: center;
}
.hero-content img{
  width: 240.28px;
  height: 240px;
}
.hero-content h1{
  font-size: 3rem;
  margin: 20px 0;
}
.hero-content p{
  color: var(--p);
  margin-bottom:20px ;
}
.btn-2{
  padding: 17px 23px;
  font-size: 1rem;
  border-radius: 5px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}
.why-section{
  width: 1440px;
  height: 1250px;
  background-color:rgba(13, 19, 33, 0.02);
  margin: 0 auto;
  margin-bottom: 150px;

}
.why-text{
  text-align: center;
  padding-bottom: 40px;
}
.why-boxes{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
  
}
.why-box{
 width: 1200px;
 height: 260px;
 background-color: white;
 box-shadow: rgba(0, 0, 0, 0.05);
 display: flex;
 justify-content: center;
 align-items: center;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.why-buttons{
  padding: 15px 20px;
  font-size: 1rem;
  cursor: pointer;
}
.why-box-left p{
  color: var(--p);
  padding: 20px 0;
}
.why-container{
  padding: 100px 0;
}
.why-box-2{
  width: 1200px;
  height: 260px;
 background-color: white;
 box-shadow: rgba(0, 0, 0, 0.05);
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 20px;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.why-box-2 p{
  padding: 20px 0;
}
.inspiration-section{
  width: 1900px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-bottom: 200px;
}
.inspiration-text{
  text-align: center;
}
.inspiration-text h1{
  font-size: 3rem;
}
.inspiration-text p{
  color: var(--p);
  margin-top: 10px;
  margin-bottom: 50px;
}
.video iframe{
  width: 1076px;
  height: 550px;
  border-radius: 10px;
}
.current-target{
  width: 1900px;
  height:500px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.current-text{
  text-align: center; 
}
.current-text h1{
  font-size: 3rem;
}
.current-text p{
  color: var(--p);
  margin-top: 10px;
  margin-bottom: 40px;
}
.current-box{
  width: 364px;
  height: 300px;
  padding-top: 70px;
  padding-left: 40px;
}
.current-box h1{
  margin: 19px 0;
}
.current-box p{
  color: var(--p);
  margin-bottom: 10px;
}
.current-box a{
  color: black;
  font-weight: bold;
}
#current-box-1{
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#current-box-2{
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#current-box-3{
  border-radius: 16px;
  background-color: rgba(255, 223, 0, 0.05);
  box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.current-boxes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.next-target{
  width: 1900px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 200px;
}
.next-text{
  text-align: center;
}
.next-text h1{
  font-size: 3rem;
}
.next-text p{
  color: var(--p);
  margin-top: 10px;
  margin-bottom: 40px;
}
.next-box{
  width: 1400px;
  height: 200px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  gap: 20px;
  padding-top:60px ;
  padding-left: 40px;
  border-radius: 16px;
}
.next-box p{
  color: var(--p);
  margin: 15px 0;
}
.next-box a{
  font-weight: bold;
}
.next-boxes{
  display: flex;
  flex-direction: column;
  gap: 30px;
}